aiohappyeyeballs==2.4.3
aiohttp==3.10.11
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.13.3
APScheduler==3.10.4
attrs==24.2.0
awsebcli==3.21.0
bcrypt==4.2.0
blinker==1.8.2
boolean.py==4.0
boto3==1.35.58
botocore==1.35.84
CacheControl==0.14.1
cachetools==5.5.0
cement==2.10.14
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cyclonedx-python-lib==7.6.2
defusedxml==0.7.1
dnspython==2.7.0
docutils==0.16
email_validator==2.2.0
et_xmlfile==2.0.0
filelock==3.16.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.0.7
Flask-S3==0.3.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
forex-python==1.8
frozenlist==1.4.1
git-filter-repo==2.47.0
google-api-core==2.23.0
google-api-python-client==2.151.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.65.0
greenlet==3.1.1
gunicorn==22.0.0
html5lib==1.1
httplib2==0.22.0
idna==3.9
itsdangerous==2.2.0
Jinja2==3.1.5
jmespath==1.0.1
license-expression==30.4.0
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
msgpack==1.1.0
multidict==6.1.0
oauthlib==3.2.2
openpyxl==3.1.5
packageurl-python==0.16.0
packaging==24.2
passlib==1.7.4
pathspec==0.10.1
pillow==11.0.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.7.3
pipdeptree==2.24.0
proto-plus==1.25.0
protobuf==5.28.3
psycopg2==2.9.10
psycopg2-binary==2.9.10
py-serializable==1.1.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
Pygments==2.18.0
PyJWT==2.9.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python-http-client==3.3.7
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
rsa==4.7.2
s3transfer==0.10.3
semantic-version==2.10.0
sendgrid==6.11.0
setuptools==75.6.0
simplejson==3.19.3
six==1.16.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.35
starkbank-ecdsa==2.2.0
termcolor==2.5.0
toml==0.10.2
twilio==9.3.7
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
uritemplate==4.1.1
urllib3==1.26.20
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.1
WTForms==3.1.2
yarl==1.13.1
